.ci {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.ct {
  text-align: center !important;
}

.no-show {
  display: none;
}


html {
  /* margin: 15px; */
  /* scroll-behavior: smooth; */
}

p {
  font-size:large;
}

/* 
h1 {
} */

.invisible-button {
  background-color: transparent;
  border: transparent;
  outline: none;
}

/* ovveride w3 */

.gw-animate-opacity {
  animation: opac 0.8s
}

@keyframes opac {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.gw-tooltip {
  transition-delay: 2s;
}

div.sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky !important;
  top: 0;
}

.bigassdiv {
  height: 1000px;
}

.spacer {
  height: 50px;
}

.def-img {}

.compact-margins {
  margin-left: 10%;
  margin-right: 10%;
}

/* temp spot for new dict popup styles */

.sticky {
  /* color:rgb(74, 252, 148); */
  /* color:#0ec058; */
  text-decoration: none;
  text-decoration-color: rgb(13, 141, 214);
  color: rgb(97, 195, 252);
}

.sticky:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration: underline !important;
}

pre {
  text-align: center;
  margin: 10px 0px 10px 0px !important;
  /* margin: 3% 10% 3% 10% !important; */
  /* margin: 3% 25% 3% 25% !important; */
  /* margin: 0px 0px 0px 0px !important; */
  /* background-color: #101010 !important; */
  background-color: transparent !important;
  border-radius: 5px !important;
  /* width: fit-content !important; */
  padding: 1.3% 2% 1.3% 2% !important;
}

.center-div {
  text-align: center;
}

.medium {
  font-size: medium !important;
}

.large {
  font-size: large !important;
}

.outline {
  width: fit-content;
  /* padding: 0px 15vw; */
  outline: solid;
  outline-style: ridge;
  width: fit-content;
  /* padding: 0px 15vw; */
  padding: 0px 25px;
}

h1 {
  /* color: #fa5353; */
  color: lightgreen;

  /* color: lightgreen; */
  font-size: 3.1rem;
  margin-top: 55px;
  /* margin-bottom: 30px; */
}

h2 {
  color:rgb(14, 255, 243);
  font-size: 2.6rem;
  margin-top: 55px;
  /* margin-bottom: 30px; */
}

h3 {
  color: rgb(255, 247, 137);
  font-size: 2.1rem;
  margin-top: 55px;
  /* margin-bottom: 30px; */
}

.underline {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
}


.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}






.img-comp-container {
  position: relative;
  height: 700px; /*should be the same height as the images*/
  
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  /* vertical-align: middle; */
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

figure {
  /* border: 1px #cccccc solid; */
  padding: 4px;
  margin: auto;
  margin-bottom: 25px;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}






.middleofvid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}


.relative {
  position: relative;
}






/* .container {
  width: 100%;
  text-align: center;
  margin-top: 25vh;
} */

.circle {
  stroke: #f8aa28;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
}

.playBut {
  /*  border: 1px solid red;*/
  display: inline-block;
  -webkit-transition: all 0.5s ease;
}
.playBut .triangle {
  -webkit-transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: rgb(255, 255, 255);
  transform: translateY(0);
}
.playBut:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #f8aa28;
  animation: nudge 0.7s ease-in-out;
}
@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
.playBut:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}




#animated_div {
  /* width:70px; */
  /* height:47px; */
  /* background: #92B901; */
  /* color: #ffffff; */
  position: relative;
  /* font-weight:bold; */
  /* font-size:20px; */
  /* padding:10px; */
  animation:animated_div 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -moz-animation:animated_div 5s;
  -webkit-animation:animated_div 5s;
  -o-animation:animated_div 5s;
  /* border-radius:5px; */
  /* -webkit-border-radius:5px; */
  }
  
  @keyframes animated_div
  {
  0% {transform: rotate(0deg);left:0px;}
  25% {transform: rotate(20deg);left:0px;}
  50% {transform: rotate(0deg);left:500px;}
  55% {transform: rotate(0deg);left:500px;}
  70% {transform: rotate(0deg);left:500px;color:#1ec7e6;}
  100% {transform: rotate(-360deg);left:0px;}
  }
  
  @-webkit-keyframes animated_div
  {
  0% {-webkit-transform: rotate(0deg);left:0px;}
  25% {-webkit-transform: rotate(20deg);left:0px;}
  50% {-webkit-transform: rotate(0deg);left:500px;}
  55% {-webkit-transform: rotate(0deg);left:500px;}
  70% {-webkit-transform: rotate(0deg);left:500px;color:#1ec7e6;}
  100% {-webkit-transform: rotate(-360deg);left:0px;}
  }
  
  @-moz-keyframes animated_div
  {
  0%  {-moz-transform: rotate(0deg);left:0px;}
  25% {-moz-transform: rotate(20deg);left:0px;}
  50%  {-moz-transform: rotate(0deg);left:500px;}
  55%  {-moz-transform: rotate(0deg);left:500px;}
  70%  {-moz-transform: rotate(0deg);left:500px;color:#1ec7e6;}
  100% {-moz-transform: rotate(-360deg);left:0px;}
  }
  
  @-o-keyframes animated_div
  {
  0% {transform: rotate(0deg);left:0px;}
  25% {transform: rotate(20deg);left:0px;}
  50%  {transform: rotate(0deg);left:500px;}
  55%  {transform: rotate(0deg);left:500px;}
  70%  {transform: rotate(0deg);left:500px;color:#1ec7e6;}
  100% {transform: rotate(-360deg);left:0px;}
  }



  video {
    transition: width 1.5s ease 0.25s;
  }



  .jx-labeex {
    font-size: large;
    background: black !important;
    white-space: nowrap !important;
    display:inline-block !important;
}

.jx-label {
    width:100%;
    padding: 10px 0px 10px 0px !important;
    font-size: xx-large !important;
    /* font-weight: 600; */
    white-space: nowrap !important;
}

.jx-left {
    text-align: left;
}

.jx-right {
    text-align: right;
}