

.ci {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.ct {
    text-align: center !important;
}

.no-show {
  display: none;
}

html {
  /* margin: 15px; */
  /* scroll-behavior: smooth; */


}

p {
  /* font-size:x-large; */
}

h1 {
  font-size: 52px;
}

.invisible-button {
  background-color:transparent; 
  border:transparent; 
  outline: none;
}

/* ovveride w3 */
.gw-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}


.gw-tooltip {
  transition-delay: 2s;
}


div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky !important;
  top: 0;
}


.bigassdiv {
  height:1000px;
}

.spacer {
  height: 50px;
}


.compact-margins {
  margin-left: 10%;
  margin-right: 10%;
}



/* temp spot for new dict popup styles */

.sticky {
  color:rgb(74, 252, 148);
  text-decoration: none;
  /* color:#0ec058; */

}

.sticky:hover {
  text-decoration: underline;
}


