

.ci {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.ct {
    text-align: center !important;
}

.no-show {
  display: none;
}

html {
  /* margin: 15px; */
}

.invisible-button {
  background-color:transparent; 
  border:transparent; 
  outline: none;
}