

.toc {
    position: fixed;
    left: 1em;
    top: 5em;
    padding: 1em;
    width: 14em;
    line-height: 2;
  }
  .toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .toc ul ul {
    padding-left: 2em;
  }
  .toc li a {
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .toc li.visible > a {
    color:rgb(58, 230, 164);
    font-weight:400;
    transform: translate(5px);
  }

  .toc li.notvisible > a {
      /* visibility: hidden; */
  }

  .toc li.notvisible:hover > a {
    /* color: #818181; */
    visibility: visible;
}
  
  .toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .toc-marker path {
    transition: all 0.3s ease;
  }
  
  .contents {
    padding: 1em;
    max-width: 800px;
    font-size: 1.2em;
    font-family: "Frank Ruhl Libre", sans-serif;
  }
  .contents img {
    max-width: 100%;
  }
  .contents .code-block {
    white-space: pre;
    overflow: auto;
    max-width: 100%;
  }
  .contents .code-block code {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
  }
  .contents .code-inline {
    background-color: #f9f9f9;
    padding: 4px;
  }
  .contents h2,
  .contents h3 {
    padding-top: 1em;
  }
  
  @media screen and (max-width: 1200px) {
    body {
      /* font-size: 14px; */
    }
  }